@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");

:root {
  --font-montserrat: "Montserrat", sans-serif;
  /* --font-cormorant: "Cormorant Garamond", serif; */
  /* --font-cinzel: "Cinzel Decorative", cursive; */
  --font-cinzel-regular: "Cinzel", serif;
}

html {
  scroll-behavior: smooth;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
